[submodule "vim/bundle/DoxygenToolkit.vim"]
	path = vim/bundle/DoxygenToolkit.vim
	url = https://github.com/vim-scripts/DoxygenToolkit.vim.git
[submodule "vim/bundle/cscope_maps.vim"]
	path = vim/bundle/cscope_maps.vim
	url = https://github.com/simplyzhao/cscope_maps.vim.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/taglist.vim"]
	path = vim/bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-go"]
	path = vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/bundle/manpageview"]
	path = vim/bundle/manpageview
	url = https://github.com/markwu/manpageview.git
[submodule "vim/bundle/powerline"]
	path = vim/bundle/powerline
	url = https://github.com/Lokaltog/powerline.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "vim/bundle/vim-gitgutter"]
	path = vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "vim/bundle/inkpot"]
	path = vim/bundle/inkpot
	url = https://github.com/ciaranm/inkpot.git
[submodule "vim/bundle/molokai"]
	path = vim/bundle/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "vim/bundle/rust.vim"]
	path = vim/bundle/rust.vim
	url = https://github.com/wting/rust.vim.git
[submodule "vim/bundle/vim-autotag"]
	path = vim/bundle/vim-autotag
	url = https://github.com/craigemery/vim-autotag.git
[submodule "vim/bundle/vim-gitmodeline"]
	path = vim/bundle/vim-gitmodeline
	url = git://git.cryptomilk.org/projects/vim-gitmodeline.git/
[submodule "vim/bundle/YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "vim/bundle/jellybeans.vim"]
	path = vim/bundle/jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim.git
